<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Raleway:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
    <title>Add New Animal</title>
</head>
<body>
    <h1>Add a New Animal</h1>
    <form action='/animals' method='POST'>
        Animal:<input type='text' name='type' /><br/>
        Is it Wild? <input type="checkbox" name='isWild' /> <br/>
        What does it eat? <br/>
        <input type="radio" name="diet" value="carnivore"> carnivore<br/>
        <input type="radio" name="diet" value="herbivore"> herbivore<br/>
        <input type="radio" name="diet" value="omnivore"> omnivore<br/>
        Link to Image: <input type='text' name='img' /><br/>
        <input type='submit' name='' value='Add Animal'/>
    </form>
</body>
</html>