*{
    margin:0;
    padding:0;
    border:0;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 60px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: white;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('https://i.vimeocdn.com/video/458516040_1280x720.jpg');
    background-size: cover;
}

img {
    height: 350px;
    width: auto;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-shadow: 3px 3px 3px green;

}